In [1]:
```python
print('hello')
```

SyntaxError: invalid syntax (4003674551.py, line 1)

In [2]:
print('hello')

hello

In [3]:
print('hello, ' + 'world')

hello, world

In [4]:
name = 'Reuven'
print('Hello, ' + name)

Hello, Reuven

In [5]:
x = 10
y = 20

print(x+y)

30

In [6]:
x+y

30

In [7]:
x = 'abcd'
type(x)

str

In [8]:
x = 10
type(x)

int

In [9]:
# comment line

In [10]:
name = 'shraddha'
print('hello everyone, i am ' + name)

hello everyone, i am shraddha

# markdown things
1. to type comments
### for sub headings

In [12]:
name = input('Enter your name')
print('name')

Enter your nameshraddha
name

In [16]:
name = input('Enter your name: ')
city = input('Enter your city: ')
print('hi, i am ' + name)
print ('i live in ' + city)

Enter your name: shraddha
Enter your city: reading
hi, i am shraddha
i live in reading

In [21]:
name = input('Enter your name: ')
city = input('Enter your city: ')
print('hi, i am ' + name, 'and i live in ' + city, '.')

Enter your name: shraddha
Enter your city: Reading
hi, i am shraddha and i live in Reading .

In [23]:
print(f'Hello, {name} from {city}.')

Hello, shraddha from Reading.

In [24]:
x = 10
y = 20

print(f'{x} + {y} = {x+y}')

10 + 20 = 30

In [25]:
10 < 20

True

In [26]:
20 < 5

False

In [27]:
'back' < 'book'

True

In [30]:
name = input('Enter your name: ')
 
    if name == 'Shraddha': 
    print('Hello, Madam!')
else:
    print(f'Hello, {name}. Who are you?')

IndentationError: unexpected indent (3945594423.py, line 3)

In [ ]:
word1 = input()