In [1]:
```python
print('hello')
```

SyntaxError: invalid syntax (4003674551.py, line 1)

In [2]:
print('hello')

hello

In [3]:
print('hello, ' + 'world')

hello, world

In [4]:
name = 'Reuven'
print('Hello, ' + name)

Hello, Reuven

In [5]:
x = 10
y = 20

print(x+y)

30

In [6]:
x+y

30

In [7]:
x = 'abcd'
type(x)

str

In [8]:
x = 10
type(x)

int

In [9]:
# comment line

In [10]:
name = 'shraddha'
print('hello everyone, i am ' + name)

hello everyone, i am shraddha

# markdown things
1. to type comments
### for sub headings

In [12]:
name = input('Enter your name')
print('name')

Enter your nameshraddha
name

In [16]:
name = input('Enter your name: ')
city = input('Enter your city: ')
print('hi, i am ' + name)
print ('i live in ' + city)

Enter your name: shraddha
Enter your city: reading
hi, i am shraddha
i live in reading

In [21]:
name = input('Enter your name: ')
city = input('Enter your city: ')
print('hi, i am ' + name, 'and i live in ' + city, '.')

Enter your name: shraddha
Enter your city: Reading
hi, i am shraddha and i live in Reading .

In [ ]:
 name = input('Enter your name: ')

if name == 'Shraddha':
    print('Hello, Madam!')
else:
    print(f'Hello, {name}. Who are you?')

In [23]:
print(f'Hello, {name} from {city}.')

Hello, shraddha from Reading.

In [24]:
x = 10
y = 20

print(f'{x} + {y} = {x+y}')

10 + 20 = 30

In [25]:
10 < 20

True

In [26]:
20 < 5

False

In [27]:
'back' < 'book'

True

In [41]:
word1 = input('Enter first word: ')
word2 = input('Enter second word: ')
if word1 > word2 :
    print(word1, 'comes before', word2) # print(f'{word1} comes before{word2}')
else:
    print(f'{word2} comes before {word1}')

Enter first word: chicken
Enter second word: egg
egg comes beforechicken

In [42]:
word1 = input('Enter first word: ')
word2 = input('Enter second word: ')
if word1 > word2 :
    print(word1, 'comes before', word2) # print(f'{word1} comes before{word2}')
elif word1 == word2 :
    print(f'{word1} is same as {word2}')
else:
    print(f'{word2} comes before {word1}')

Enter first word: egg
Enter second word: egg
egg is same as egg

In [51]:
string = input('Enter the string: ')
num = input('Enter the numeric index: ')
num = int(num)
if num < 0 :
    print(f'Error: numeric index {num} is too low')
elif num >= len(string) :
    print(f'Error: numeric index {num} is too high')
else:
    print(f'Index {num} in "{string}" is "{string[num]}"')

Enter the string: pineapple
Enter the numeric index: 4
Index 4 in "pineapple" is "a"

In [ ]:
word = input('Enter a word: ')

if word[0] == 'a' or word[0] ==